h1 {
  color: var(--accent-color);
}

section {
  background-color: #f9fbfd;
  padding: 20px 25px 25px;
  border-radius: 6px;
  box-shadow: 0px 4px 11px rgb(0 0 0 / 30%);
  max-width: 940px;
  margin: 20px auto 0;
}

.search-form {
  margin-top: 35px;
  justify-content: space-between;
}

.search-input {
  padding: 4px 6px;
  margin-bottom: 8px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.search-btn {
  background-color: var(--accent-color);
  color: #f9fbfd;
  transition: background-color 400ms ease-in-out;
}

.search-btn:hover {
  background-color: #b61b59;
  color: #f9fbfd;
}

@media screen and (min-width: 576px) {
  section {
    padding: 20px 45px 25px;
  }

  .search-input {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 30px 55px 35px;
  }

  .search-form {
    margin-top: 45px;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    margin-top: 55px;
    justify-content: center;
  }

  .search-btn {
    margin-left: 15px;
  }
}
