.Meaning {
  margin-top: 15px;
}

.part-of-speech {
  font-size: 19px;
}

.definition,
.example {
  font-size: 15px;
}

.example {
  font-style: italic;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .part-of-speech {
    font-size: 20px;
  }

  .definition {
    font-size: 16px;
  }
}
