.word {
  text-transform: capitalize;
}

.spinner {
  height: 60px;
  margin: 50px;
}

.spinner span {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .Results {
    text-align: left;
  }

  .word-section {
    text-align: center;
  }
}
