.App {
  margin: 50px 0 15px;
  text-align: center;
}

footer {
  font-family: monospace;
  font-size: 10px;
  margin-top: 8px;
}

footer a {
  text-decoration: none;
  color: var(--accent-color);
}

footer a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}
